[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "==0.22.0"
numpy = "==1.14.2"
tensorflow = "==1.12.2"
scikit-learn = "==0.19.1"
h5py = "==2.7.1"
plotly = "==3.2.1"
Flask = "==1.0.2"
Keras = "==2.1.5"

[requires]
python_version = "3.6"
