<!-- <!doctype html>
<html>

<head>
</head>

<body>
<center><h3>ETHEREUM REAL TIME PREDICTION</h3></center>
<div id="graph-0"></div>

</body>


<footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

    <script type="text/javascript">
        var graph = {{graphJSON | safe}};
        Plotly.plot("graph-0", graph.data, graph.layout);
    </script>
</footer>

</html> -->

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Real Time Crypto Predictions</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

    <!-- Custom styles for this template -->
    <!-- <link href="css/full-slider.css" rel="stylesheet"> -->
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/predictor">Cryptocurrency Predictions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/predictor">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="http://www.linkedin.com/in/thanasis-zoumpekas">About me</a> -->
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <br> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="graph-0"></div>
    <span id="sysStatus" style="font-weight: bold;">{{ status }}</span>

    <footer>
      <!-- D3.js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <!-- Plotly.js -->
      <!-- <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script> -->
      <script src = "https://cdn.plot.ly/plotly-latest.min.js"></script>

      <script type="text/javascript">
          var graph = {{graphJSON | safe}};
          Plotly.newPlot("graph-0", graph.data, graph.layout);

      </script>

      <script>
      $(document).ready(function() {
          setInterval("ajaxd()",6*300000); // call every 16*5 = 80 minutes
      });

      function ajaxd() { 

          Plotly.deleteTraces('graph-0',[0,1,2,3,4]);
 
              $.ajax({
                  url: '/plot',
                  success: function(response) {
                      var graph = JSON.parse(response);
                      console.log(JSON.stringify(response));
                      
                      Plotly.newPlot("graph-0", graph.data, graph.layout);
                      console.log(response);
                  },
                  error: function(error) {
                      console.log(error);
                  }
              });


      }
      </script> 


    </footer>




    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
 -->
  </body>

</html>
